  .modal {
    margin: 5px auto 10px;
    padding: 10px;
    width: 100%;
  }
  .modal input{
    display: block;
    margin-bottom: 5px;
  }  
  .modal textarea{
    display: block;
    margin-bottom: 5px;
  }  
  .hidden {
    display: none;
  }
  